<footer th:fragment="footer" class="py-4 bg-white border-top mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted text-uppercase fw-bold">Copyright &copy; UN1 E-Commerce 2026</div>
            <div>
                <a href="#" class="text-decoration-none text-muted me-3">Chính sách bảo mật</a>
                <span class="text-muted">|</span>
                <a href="#" class="text-decoration-none text-muted ms-3">Điều khoản & Điều kiện</a>
            </div>
        </div>
    </div>
</footer>